<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>
  <section class="product-list">
    <%= render @products %>
  </section>
</div>
<%= link_to 'New Product', new_product_path %>
